<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <h1 class="headings">Register Account</h1>
      <p class="registermessage">{{ message }}</p>
    <form method="POST" action="/register" class="inputs">

        <label for="username">Email:</label><br>
        <p class="emails">Choose an email that you check often</p>
        <input type="email" id="email" name="email" placeholder="Email" class="email" required="True"><br>
        
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="Username" class="user" required="True"><br>
        
        <label for="password" >Password:</label><br>
        <input type="password" id="password" name="password" placeholder="Password" class="passwd" required="True"><br><br>
        
        <input type="submit" value="SUBMIT" class="sub">
    </form>
    <a href="/login" class="registeraccount">Login</a>

</body>
</html>